[submodule "deps/odin_ecs"]
	path = deps/odin_ecs
	url = https://github.com/odin-engine/ode_ecs.git
[submodule "deps/muninn"]
	path = deps/muninn
	url = https://github.com/dlroy88osu/Muninn.git
[submodule "deps/r3d"]
	path = deps/r3d
	url = https://github.com/Bigfoot71/r3d-odin.git
